
<html>

<body>

    <div>Список городов</div>
        {{#city}}
            <div>
                <i>{{id}}</i>
                <span>{{countryCode}}</span>
                <span>{{district}}</span>
                <span>{{name}}</span>
                <b>{{population}}</b>
            </div>
        {{/city}}
</body>
</html>